* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html 
{
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

div.jeden_przepis img {
    display: block;
    width: 100%;
}

/*nagłówek*/
.biały {
    color: #F2F2F2;
    text-align: center;
    background-color: #373740a1;
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
}

h2.h2 {
    padding: 10px 0;
    text-align: center;
}

/*kontakt*/
div.kontakt_jeden i {
    font-size: 50px;
    color: #373740;
    border: 5px solid #373740;
    padding: 10px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin-bottom: 5px;
}

header {
    width: 100%;
    height: 100vh;
    padding: 10px 10px 30px;
    background-image: url('https://cdn.pixabay.com/photo/2017/11/16/18/51/kagyana-2955466_1280.jpg');
    background-position: 60% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.kontener {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section.mapa {
    padding: 10px;
}

section.mapa iframe {
    width: 100%;
}

h2.h2 {
    width: 100%;
}



section.kontakt {
    padding: 10px;
}

div.kontakt_jeden:last-child {
    margin-bottom: 0;
}

/*newsletter*/
section.newsletter {
    background-color: #F2F2F2;
    padding: 10px 20px;
}

section.newsletter h2 {
    text-transform: uppercase;
    margin: 10px 0;
}

section.newsletter form {
    margin: 10px 0;
}

section.newsletter form .newsletter_pola {
    display: flex;
    flex-direction: column;
}

section.newsletter form .newsletter_pola input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
    border: none;
}

button.button {
    width: 100%;
}

.button {
    background-color: #BF3604;
    color: #F2F2F2;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #373740;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
}

.button:hover {
    background-color: #373740;
    color: #F2F2F2;
    transition: 0.5s;
}

/*przepisy*/

.nazwa_dania {
    text-align: center;
}

section.wszystkie_przepisy {
    padding: 10px;
}

section.wszystkie_przepisy div.jeden_przepis p {
    padding: 10px 10px 0 10px;
    text-align: center;
    line-height: 1.3;
}

div.jeden_przepis img {
    width: 100%;
}

/*komentarze*/

.Zobacz_komentarze {
    color: #0D0D0D;
    margin: #0D0D0D;
    text-align: center;
    background-color: #f2f2f2d8;
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    font-weight: 1000;
}

section.komentarze {
    padding: 10px;
    background-image: url('https://cdn.pixabay.com/photo/2017/11/16/18/51/kagyana-2955466_1280.jpg');
    background-position: 60% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section.komentarze .jeden_komentarz {
    background-color: #f2f2f2d8;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    width: 100%;
}

section.komentarze .jeden_komentarz p:first-child {
    text-align: center;
    line-height: 1.3;
}

section.komentarze .jeden_komentarz p:last-child {
    font-weight: bold;
    align-self: flex-end;
    margin-top: 10px;
}

.stopka {
    text-align: center;
    gap: 10px
}

/*faq*/
section.faq {
    padding: 10px;
}

div.accordion {
    width: 100%;
    margin-bottom: 10px;
}

div.box {
    margin: 10px;
    border-top: 1px solid #373740;
}

div.box:last-child {
    border-bottom: 1px solid #373740;
}

button.przycisk_faq {
    width: 100%;
    text-align: left;
    padding: 10px 0;
    font-size: 16px;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button.przycisk_faq:hover {
    cursor: pointer;
}

.info {
    display: none;
}

.active {
    display: none;
}

.active_box {
    display: block;
}

div.accordion {
    max-width: 728px;
}

.active_arrow {
    transform: rotate(180deg);
}


